<form>
    <table class="form-table">
        <tr>
            <td>Name:</td>
            <td><input type="text" id="name-input" ng-model="vm.newContactName" ng-value="name"></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" id="phone-input" ng-model="vm.newContactPhone" ng-value="phone"></td>
        </tr>
        <tr>
            <td></td>
            <td align="right">
                <a href id="save-link" ng-click="vm.editContact()">Save</a>
            </td>
        </tr>
    </table>
</form>