<table class="form-table">
    <tbody>
    <tr>
        <td>Name:</td>
        <td><input id="name-input" ng-model="vm.newContactName"></td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td><input id="phone-input" ng-model="vm.newContactPhone"></td>
    </tr>
    <tr>
        <td colspan="2" align="right"><br>
            <a href id="save-link" ng-click="vm.addContact()">Save</a>
        </td>
    </tr>

    </tbody>
</table>
