<input type="text" id="search-string" ng-model="searchContact">

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone no</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="contact in vm.contacts | filter: searchContact | orderBy: '_id' " ng-class="{ selected: contact.selected }">
        <td><a href="#/edit/{{ contact._id }}" class="edit-link">{{ contact.name }}</a></td>
        <td>{{ contact.phone }}</td>
        <td><input type="checkbox" ng-model="contact.selected"></td>
        <td><a href class="delete-link" ng-click="vm.removeContact(contact._id)">Remove</a></td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>